<% content_for :body_class, "bg-[#f6f8f6] dark:bg-[#0d150d] text-slate-900 dark:text-slate-100 min-h-screen" %>
<% content_for :title, "投稿を綴る - 言庭" %>

<div class="flex-1 min-h-0 flex flex-col items-center justify-center px-6 py-8 md:py-12 min-h-0">
  <%= render "shared/form" %>
</div>